<html>
	<head>
	<title>DAW's Blog</title>
	</head>
<body>
	<h1>Portal del blog de la clase DAW</h1>
	<h2>checa como cambia el aspecto wee</h2>
	<h3>mira, se hace más chico</h3>
	<h4>y así hasta que lleguemos</h4>
	<h5>a la última que es</h5>
	<h6>esta, h6, fin.</h6>
	<br>
	<br>
	<em>Apoco no está chido?</em>
	<strong>DAW RULES</strong>
	<br>
	<a href="https:localhost:8000">Enlace </a>
	<ul><li>Primer elemento</li><li>Segundo elemento</li></ul>
	<div></div>
	<p>HI THERE!, o sea hola wee</p>
	<p>Si Jala we </p>
</body>
</html>
